{% extends 'catalog/home.html' %}

{% load static %}

{% block content %}
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin-left: 400px;
        }
        form {
            /* Дополнительные стили формы, если необходимо */
        }
    </style>

    <div class="center">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Создать</button>
            <button type="submit">Редактировать</button>
            <button type="submit">Удалить</button>


        </form>
    </div>
{% endblock %}