<!-- product_detail.html -->


<!DOCTYPE html>

<html>
{% load mediapath %}
<head>
    <title>Product Detail</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p><strong>Описание:</strong> {{ product.description }}</p>
    <p><strong>Категория:</strong> {{ product.category.name }}</p>
    <p><strong>Стоимость:</strong> ${{ product.price }}</p>
    <p><strong>Дата создания:</strong> {{ product.date_created }}</p>
    <p><strong>Дата обновления:</strong> {{ product.date_updated }}</p>
    <img src="{{ product.img|mediapath }}" width="300" height="200">
</body>
</html>

