{% extends 'catalog/home.html' %}

{% load mediapath %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <p><strong>Описание:</strong> {{ product.description }}</p>
    <p><strong>Категория:</strong> {{ product.category.name }}</p>
    <p><strong>Стоимость:</strong> ${{ product.price }}</p>
    <p><strong>Дата создания:</strong> {{ product.date_created }}</p>
    <p><strong>Дата обновления:</strong> {{ product.date_updated }}</p>
    <img src="{{ product.img|mediapath }}">
    <h3>Информация о версии товара</h3>
    <div class="card-body">
        <ul>
            {% for version in product.version_set.all %}
                <li>{{ version }}</li>
            {% endfor %}
        </ul>
    </div>
        <form action="{% url 'catalog:product_edit' pk=product.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Редактировать продукт">
    </form>
{% endblock %}